:root {
  --primary-color: #ff7400;
}

.btn {
  border: none !important;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary-color {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.questionArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionArea span {
  display: inline-block;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 0.1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
}

.messageArea {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.save-name-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-header th {
  background-color: var(--primary-color);
  border-top: none !important;
}

.table-text {
  color: var(--primary-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
